{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% block content %}

    <!-- Use the same styles as the dashboard to render the title -->
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">LIST OF SUBMITTED INGESTIONS</h2>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-6">
            <span><a href="{{HOME_LOCATION}}records/?export=csv">Export complete table to CSV</a></span>
          </div>
          {% if DISPLAY_WITH_PAGINATION == True %}
          <div class="col-md-6">
            <span><a href="{{HOME_LOCATION}}records/?page=all">Display table without pagination</a></span>
          </div>
          {% else %}
          <div class="col-md-6">
            <span><a href="{{HOME_LOCATION}}records/?page=1">Display table with pagination</a></span>
          </div>
          {% endif %}
        </div>
      </div>
    </section>

    <!-- Render table with information about the data ingestion pipelines -->
    <div style="text-align:center;margin-left:2%;margin-right:2%;">
    {% render_table PIPELINE_TABLE %}
    </div>

{% endblock %}
