{% extends 'base.html' %}
{% block content %}

    <!-- Use the same styles as the services for this-->
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">SUBMIT A VIDEO FOR INGESTION</h2>
            <form id="video_input_form"  action="{{HOME_LOCATION}}submit_video" enctype="multipart/form-data" method="post">{% csrf_token %}
                <h3 class="section-subheading text-muted">Please select a video file</h3>
                <input name="input_video" type="file" />
                <br/><br/>
                <input type="submit" value="Start video ingestion"/>
            </form>
          </div>
        </div>
        <div class="row text-center">

        </div>
      </div>
    </section>

{% endblock %}

